<div class="banner container-fluid">
  <div class="container d-flex flex-column py-5 text-center">
    <span class="titolo">Angular Coin</span>
  </div>
  <div class="sub-header">
    <div class="scorrimento" >
      <div class="d-flex  mycard">
        <div class="d-flex flex-column justify-content-center align-items-center mycard" *ngFor="let coin of coins">
          <img src="{{ coin.image }}"  alt="{{ coin.name }}" class="mx-5 my-3" >
          <span class="my-3 fs-2">{{ coin.name }}</span>
          <span class="{{ coin.price_change_percentage_24h >= 1 ? 'text-success' : 'text-danger' }} fs-4">
            {{ coin.price_change_percentage_24h }}%
          </span>
          <span class="py-5 fs-4">{{ coin.current_price | currency:'EUR' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="current_price">
        <th mat-header-cell *matHeaderCellDef> Valore </th>
        <td mat-cell *matCellDef="let element"> {{element.current_price}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price_change_percentage_24h">
        <th mat-header-cell *matHeaderCellDef> Variazione 24h </th>
        <td mat-cell *matCellDef="let element"> {{element.price_change_percentage_24h}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="market_cap">
        <th mat-header-cell *matHeaderCellDef> Capitalizzazione </th>
        <td mat-cell *matCellDef="let element"> {{element.market_cap}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
